.withDelete{
    position: relative;
}

.deleteMark{
    display: inline-block;
    position: absolute;
    right: 35px;
    top:5px;
    transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  
}

.deleteMark:hover{
    color:red;
    
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1)
}