<div class="panel panel-primary">
    <div class="panel-heading">{{title}} form</div>
    <div class="panel-body">
        <form [formGroup]="productForm" novalidate class="form-horizontal" (ngSubmit)="onSaveClick()">

            <div class="form-group">
                <label for="productName" class="col-md-2 control-label">Product Name :</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="productName" placeholder="Product name" formControlName="productName">
                </div>

            </div>
            <div class="form-group">
                <label for="productCode" class="col-md-2 control-label">Product Code :</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="productCode" placeholder="Product name" formControlName="productCode">
                </div>
            </div>
            <div class="form-group">
                <label for="starRating" class="col-md-2 control-label">Star Rating :</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="starRating" placeholder="Product name" formControlName="starRating">
                </div>
            </div>

            <div formArrayName="tags">
                <div class="btn btn-default" (click)="addtag()">Add a new tag</div>
                <div class="form-group" *ngFor="let tag of  tags.controls;let i=index">
                    <label [attr.for]="i" class="col-md-2 control-label">Tags</label>
                    <div class="col-md-10">
                           
                        <input class="form-control withDelete" [id]="i" type="text" placeholder="Tag" [formControlName]="i">
                      
                        <span class=" deleteMark" (click)="removeTag(i)">x</span>
                        
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label for="description" class="col-md-2 control-label">Description :</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="description" placeholder="Product name" formControlName="description"></textarea>
                </div>

            </div>
            <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary"
                                    type="submit"
                                    style="width:80px;margin-right:10px"
                                    [disabled]='!productForm.valid'>
                                Save
                            </button>
                        </span>
                        <span>
                            <a class="btn btn-default"
                               style="width:80px"
                               [routerLink]="['/products']">
                                Cancel
                            </a>
                        </span>
                        <span>
                            <a class="btn btn-default"
                               style="width:80px"
                               (click)="deleteProduct()">
                                Delete
                            </a>
                        </span>       
                     </div>
                </div>

        </form>
    </div>
   
</div>